/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-oct-2017, 11:59:56
    Author     : user
*/
p{
    color: yellow;

}
body {
    color : aqua;
    background-color: bisque;

}

table{
    width: 100%;
    height: 500px;
    border :1px solid black;
    padding: 100px;


}
td{
    background-color: green;
    border-bottom-color: red;
    border-bottom-width: 10px;
    border-bottom-style: dotted;
    border-bottom-right-radius: 5px;
    padding: 10px;
    text-align: right;
    vertical-align: top;
    font-size: 100px;
    font-style: italic;


}

/*   estilos para el menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
}

li {
   float: left;
}

li a {
    display: block;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: darkred;
}

li a.active{
    background-color: green;
}